<!DOCTYPE html>
<html lang="en" ng-app="notify-hipchat">
	<head>
	<meta charset="utf-8">
	<!-- title -->
	<title>Emirates</title>
	<!-- meta viewport to enable responsive designs on mobiles and tablets -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- font-awesome style sheet -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- styles sheet -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<%- body -%>
</body>
</html>
