<!DOCTYPE html>
<html lang="en" ng-app="notify-hipchat">
	<head>
	<meta charset="utf-8">
	<!-- title -->
	<title>Emirates</title>
	<!-- meta viewport to enable responsive designs on mobiles and tablets -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- font-awesome style sheet -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- styles sheet -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<div class="wrapper logo-wrapper">
		<a href="/two" class="logo">
			<img src="/img/logo.png">
		</a>
	</div>
	<div class="header">
		<ul class="wrapper">
			<li><a href="#">Global [English]</a></li>
			<li><a href="#">Help</a></li>
			<li>
				<input type="text" placeholder="Search">
			</li>
		</ul>
	</div>
	<div class="nav">
		<ul class="wrapper">
			<li><a href="/">Book</a></li>
			<li><a href="/">Manage</a></li>
			<li><a href="/">Experience</a></li>
			<li><a href="/">Destinations</a></li>
		</ul>
	</div>
	<%- body -%>
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
