<% layout('layout') -%>

<div class="wrapper">
	<h1 class="page-title">
		Your Search
	</h1>
	<ul class="flight-details">
		<li>
			<label>From</label>
			Dubai (DXB)
		</li><li>
			<label>To</label>
			San Francisco (SFO)
		</li><li>
			<label>Departing</label>
			15 November 2015
		</li><li>
			<label>Returning</label>
			30 November 2015
		</li><li>
			<label>Class</label>
			Economy
		</li><li>
			<label>Passengers</label>
			1 Adult
		</li>
	</ul>
	<h3 class="page-subtitle">
		Outbound Trip
	</h3>
	<ul class="trip-table">
		<li>
			Outbound Trip
		</li>
		<li>
			Depart
		</li>
		<li>
			Arrive
		</li>
		<li>
			Duration
		</li>
		<li class="price">
			Economy <br>
			Flex
		</li>
		<li class="price">
			Economy <br>
			Flex Plus
		</li>
		<li class="price">
			Business <br>
			Flex
		</li>
	</ul>
	<ul class="trip-details">
		<li>
			Dubai (DXB) <br>
			San Francisco (SFO)
		</li>
		<li>
			19:00 <br>
			Tuesday <br>
			17 November
		</li>
		<li>
			12:55 <br>
			Wednesday <br>
			18 November
		</li>
		<li>
			16hrs <br>
			55mins
		</li>
		<li class="price">
			$707
		</li>
		<li class="price">
			$840
		</li>
		<li class="price">
			$6,302
		</li>
	</ul>
	<a href="/results/3" class="link-to-exp">
		<span class="fa fa-fighter-jet"></span>
		This seems like a very long flight. Why not splitting it into 2 flights and have some <i>quality transit hassle-free planned time</i> in <span class="blue">New York</span>.
	</a>
	<h3 class="page-subtitle">
		Inbound Trip
	</h3>
	<ul class="trip-table">
		<li>
			Inbound Trip
		</li>
		<li>
			Depart
		</li>
		<li>
			Arrive
		</li>
		<li>
			Duration
		</li>
		<li class="price">
			Economy <br>
			Flex
		</li>
		<li class="price">
			Economy <br>
			Flex Plus
		</li>
		<li class="price">
			Business <br>
			Flex
		</li>
	</ul>
	<ul class="trip-details trip-details-end">
		<li>
			San Francisco (SFO) <br>
			Dubai (DXB)
		</li>
		<li>
			19:00 <br>
			Tuesday <br>
			30 November
		</li>
		<li>
			12:55 <br>
			Wednesday <br>
			2 December
		</li>
		<li>
			16hrs <br>
			45mins
		</li>
		<li class="price">
			$607
		</li>
		<li class="price">
			$940
		</li>
		<li class="price">
			$8,302
		</li>
	</ul>
</div>
