<% layout('layout') -%>

<div class="wrapper">
	<h1 class="page-title">
		Your Search
	</h1>
	<ul class="flight-details">
		<li>
			<label>From</label>
			San Francisco (SFO)
		</li><li>
			<label>To</label>
			Dubai (DXB)
		</li><li>
			<label>Departing</label>
			15 November 2015
		</li><li>
			<label>Returning</label>
			30 November 2015
		</li><li>
			<label>Class</label>
			Economy
		</li><li>
			<label>Passengers</label>
			1 Adult
		</li>
	</ul>
	<h3 class="page-subtitle">
		Outbound Trip
	</h3>
	<ul class="trip-table">
		<li>
			Outbound Trip
		</li>
		<li>
			Depart
		</li>
		<li>
			Arrive
		</li>
		<li>
			Duration
		</li>
		<li class="price">
			Economy <br>
			Flex
		</li>
		<li class="price">
			Economy <br>
			Flex Plus
		</li>
		<li class="price">
			Business <br>
			Flex
		</li>
	</ul>
	<ul class="trip-details">
		<li>
			San Francisco (SFO) <br>
			Dubai (DXB)
		</li>
		<li>
			19:00 <br>
			Tuesday <br>
			17 November
		</li>
		<li>
			19:55 <br>
			Wednesday <br>
			18 November
		</li>
		<li>
			22hrs <br>
			55mins
		</li>
		<li class="price">
			$707
		</li>
		<li class="price">
			$840
		</li>
		<li class="price">
			$6,302
		</li>
	</ul>
	<ul class="trip-experiences">
		<a href="javascript:void(0)" id="experiences">
			<li class="d">
				<span class="cap">1 Stop overs</span> <br>
				<span class="city"><span class="fa fa-map-marker"></span> New York</span> <span class="time"> 5h 30m</span>
			</li>
			<li>
				<h3 class="experiences-title">Find your ideal experiences for your stopovers</h3>
				<ul class="thumbs">
					<li>
						<img src="/img/NY_01.jpg">
					</li>
					<li>
						<img src="/img/NY_02.jpg">
					</li>
					<li>
						<img src="/img/NY_03.jpg">
					</li>
					<li>
						<img src="/img/NY_04.jpg">
					</li>
					<li>
						<img src="/img/NY_05.jpg">
					</li>
				</ul>
			</li>
		</a>
	</ul>
	<ul class="trip-experiences-details display-none">
		<li class="city-experiences">
			<h4>New York <span class="experience-time" id="exp-time">(5h 30m)</span></h4>
			<ul class="images">
				<li>
					<a href="javascript:void(0)">
						<img src="/img/NY_01.jpg">
						<h5 class="img-label">
							Pétanque with Mabel <br>
							3 hours <br>
							$48 / person
						</h5>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="/img/NY_02.jpg">
						<h5 class="img-label">
							Biking along canal <br>
							4 hours <br>
							$11 / person
						</h5>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img src="/img/NY_03.jpg">
						<h5 class="img-label">
							Foodie pop-up <br>
							3 hours <br>
							$59 / person
						</h5>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="lnk-2">
						<img src="/img/NY_04.jpg">
						<h5 class="img-label">
							Louvre mysteries hunt <br>
							6 hours <br>
							$17 / person
						</h5>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	<h3 class="page-subtitle">
		Inbound Trip
	</h3>
	<ul class="trip-table">
		<li>
			Inbound Trip
		</li>
		<li>
			Depart
		</li>
		<li>
			Arrive
		</li>
		<li>
			Duration
		</li>
		<li class="price">
			Economy <br>
			Flex
		</li>
		<li class="price">
			Economy <br>
			Flex Plus
		</li>
		<li class="price">
			Business <br>
			Flex
		</li>
	</ul>
	<ul class="trip-details trip-details-end">
		<li>
			Dubai (DXB) <br>
			San Francisco (SFO)
		</li>
		<li>
			19:00 <br>
			Tuesday <br>
			30 November
		</li>
		<li>
			12:55 <br>
			Wednesday <br>
			2 December
		</li>
		<li>
			16hrs <br>
			45mins
		</li>
		<li class="price">
			$607
		</li>
		<li class="price">
			$940
		</li>
		<li class="price">
			$8,302
		</li>
	</ul>
</div>
